REACT_APP_WEB_URL=https://prizey-staging.netlify.com
REACT_APP_API_URL=https://prizey-api-staging.herokuapp.com/
REACT_APP_STRIPE_TOKEN=
NODE_PATH=src/
REACT_APP_PRICE_FACTOR=100
REACT_APP_GOOGLE_ANALYTICS_CODE=
